@import 'assets/css/variables.scss';

.hospitalDetail-container{
    & .tabBar{
        min-width: 100%;
        background-color: #FFF;
        display: flex;
        font-size: 16px;
        overflow-x: auto;
        position: relative;
        position: fixed;
        top: 40px;

        &::-webkit-scrollbar {
          display: none;
        }

        &::after{
            content: " ";
            position: absolute;
            left: 0;
            bottom: 0;
            right: 0;
            height: 1px;
            border-top: 1px solid #e5e5e5;
            color: #e5e5e5;
            -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
            -webkit-transform: scaleY(0.5);
            transform: scaleY(0.5);
            z-index: 2;
        }

        & li{
            flex-grow: 1;
            flex-shrink: 0;
            height: 42px;
            text-align: center;
            line-height: 42px;
            padding: 0 20px;

            &.active{
                color: $brand-color;
                border-bottom: 2px solid $brand-color;
            }
        }
    }

    & .hospital-detail-content{
        margin-top: 82px;

        & .content-1{
            background-color: #FFF;
            padding: 12px 16px;

            & .title-box{
                width: 100%;
                display: flex;
                align-items: center;
                line-height: 1;

                & img{
                    width: 60px;
                    height: 60px;
                    margin-right: 8px;
                }

                & h3{
                    font-size: 18px;
                    font-weight: normal;
                }

                & p{
                    color: #CCC;
                    margin-top: 10px;
                }
            }

            & .profile{
                margin-top: 11px;
                color: $text-gray-color;
                font-size: 15px;

                & em{
                    color: $brand-color;
                    font-style: normal;
                }
            }
        }

        & .content-2{
            margin-top: 3px;
            display: flex;
            padding: 15px 16px;
            background-color: #FFF;
            align-items: center;

            & .left{
                flex-grow: 1;
                display: flex;
                align-items: center;
                height: 33px;
                padding-right: 20px;
                line-height: 1;
                position: relative;

                &::after{
                    content: " ";
                    position: absolute;
                    right: 0;
                    top: 0;
                    width: 1px;
                    bottom: 0;
                    border-right: 1px solid #F8F6F7;
                    color: #F8F6F7;
                    -webkit-transform-origin: 100% 0;
                    transform-origin: 100% 0;
                    -webkit-transform: scaleX(0.5);
                    transform: scaleX(0.5);
                }

                &::before{
                    content: '';
                    display: block;
                    width: 12px;
                    height: 14px;
                    background: url(~assets/images/Hospital_icon_add.png) no-repeat;
                    background-size: 100% 100%;
                    margin-right: 7px;
                    flex-shrink: 0;
                }
            }

            & .tel{
                flex-shrink: 0;
                width: 40px;
                height: 40px;
                background: url(~assets/images/Hospital_icon_tel.png) no-repeat center center;
                background-size: 16px 16px;
            }
        }

        & .content-3{
            margin-top: 3px;
            background-color: #FFF;
            padding: 13px $content-padding;

            & .title{
                font-size: 18px;
                line-height: 1;
                margin-bottom: 11px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                &.canClick::after{
                    content: '';
                    display: block;
                    width: 7px;
                    height: 12px;
                    background: url(~assets/images/Hospital_icon_right.png) no-repeat;
                    background-size: 100% 100%;
                }
            }
            & .title2{
                line-height: 1;
                font-size: 15px;
                margin-bottom: 11px;
            }
            & p{
                color: $text-gray-color;
            }
        }
    }

    & .department-detail{
        margin-top: 82px;

        & .content{
            padding: 14px $content-padding;
            background-color: #FFF;
            margin-bottom: 3px;

            & .title{
                font-size: 18px;
                margin-bottom: 11px;
            }

            & p{
                color: $text-gray-color;
                font-size: 15px;
            }
        }

        & .content1{
            & em{
                color: $brand-color;
            }
        }

        & .content2{
            margin-bottom: 0;
            display: flex;
            padding: 15px 16px;
            background-color: #FFF;
            align-items: center;

            & .left{
                flex-grow: 1;
                display: flex;
                align-items: center;
                height: 33px;
                padding-right: 20px;
                line-height: 1;
                position: relative;

                &::after{
                    content: " ";
                    position: absolute;
                    right: 0;
                    top: 0;
                    width: 1px;
                    bottom: 0;
                    border-right: 1px solid #F8F6F7;
                    color: #F8F6F7;
                    -webkit-transform-origin: 100% 0;
                    transform-origin: 100% 0;
                    -webkit-transform: scaleX(0.5);
                    transform: scaleX(0.5);
                }

                &::before{
                    content: '';
                    display: block;
                    width: 12px;
                    height: 14px;
                    background: url(~assets/images/Hospital_icon_add.png) no-repeat;
                    background-size: 100% 100%;
                    margin-right: 7px;
                    flex-shrink: 0;
                }
            }

            & .tel{
                flex-shrink: 0;
                width: 40px;
                height: 40px;
                background: url(~assets/images/Hospital_icon_tel.png) no-repeat center center;
                background-size: 16px 16px;
            }
        }

        & .content3{
            display: flex;
            align-items: center;
            background-color: #FFF;
            margin-bottom: 3px;
            padding: 13px 16px;
            position: relative;

            &::after{
                content: " ";
                position: absolute;
                width: 100%;
                top: 0;
                bottom: 0;
                right: 0;
                height: 1px;
                border-top: 1px solid #F8F6F7;
                color: #e5e5e5;
                -webkit-transform-origin: 0 0;
                transform-origin: 0 0;
                -webkit-transform: scaleY(0.5);
                transform: scaleY(0.5);
                z-index: 2;
            }

            &::before{
                content: "";
                display: block;
                width: 13px;
                height: 13.5px;
                background: url(~assets/images/Hospital_icon_money.png) no-repeat;
                background-size: 100% 100%;
                margin-right: 7px;
                flex-shrink: 0;
            }

            & p{
                flex-grow: 1;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }

        & .content4{
            & ul{
                display: flex;
                align-items: center;
                overflow: scroll;
                -webkit-overflow-scrolling: touch;

                &::-webkit-scrollbar {
                    display: none;
                }

                & li{
                    display: flex;
                    flex-flow: column nowrap;
                    align-items: center;
                    justify-content: center;
                    margin-right: 21px;

                    & img{
                        width: 50px;
                        height: 50px;
                        border-radius: 3px;
                    }

                    & p{
                        font-size: 15px;
                        margin-top: 6px;
                    }
                }
            }
        }
    }
}